<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Event Organizers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    <div class="navbar">
        <div class="container">
            <img src="~/Content/Images/logo.png" />

            @Html.ActionLink("Home", "Index", "Event")
            @Html.ActionLink("Organize an Event", "Create", "Event")
            @Html.ActionLink("Find an Event", "Search", "Event")

            @Html.Partial("_LoginPartial")

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Event Organizers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
