
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    @Html.DropDownList("AlbumsByName")
</div>
<div>
    @Html.DropDownList("AlbumsByArtist")
</div>
<div>
    @Html.DropDownList("AlbumsByGenre")
</div>

<br />

@Html.TextBox("Textbox1", "Hello World!")

<br />

@Html.Label("Label1", "My Label")

<br />

@Html.CheckBox("Checkbox1", true)

<br />

@Html.RadioButton("Name", "Red")
@Html.RadioButton("Name", "Blue")
@Html.RadioButton("Name", "Green")